<!DOCTYPE html>
<html>
<head>
    <title>Task App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">

<nav>
    <a href="/">Tasks</a> |
    <a href="/completed">Completed</a> |
    <a href="/habits">Habits</a> |
    <a href="/habit_dashboard">Habit Dashboard</a> |
    <a href="/habit_history">Habit History</a> |
    <a href="/stats">Statistics</a>
</nav>

<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block content %}
{% endblock %}

<a href="/today">Today</a>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>